<c-row ngPreserveWhitespaces>
  <!--***-->

  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Quiz</strong>
      </c-card-header>

      <c-card-body>
        <p class="text-medium-emphasis small">
          List of Quiz
        </p>

        <c-row [gutter]="{g: 4}" [md]="3" [xs]="1">
          <c-col *ngFor="let quiz of quizzes">

            <c-card>
              <a href="" style="text-decoration: none;color: black;">
                <img src="../../../../assets/images/Quiz.png" style="width: 60%; height: 60%;" alt="Image Description">
                <c-card-body>
                  <h5 cCardTitle>{{quiz.title}}</h5>
                  <p cCardText>
                    {{quiz.description}}.
                  </p>
                </c-card-body>
              </a>
      <c-card-footer class="d-flex justify-content-between ">
        <button (click)="startQuiz(quiz._id,quiz.title)" type="submit" class="btn btn-primary">Start </button>
        <button (click)="modifyQuiz(quiz._id,quiz.title)"  class="btn btn-secondary">Modify </button>
        <button (click)="deleteQuiz(quiz._id)" class="btn btn-danger">Delete </button>
      </c-card-footer>
    </c-card>

  </c-col>
</c-row>

</c-card-body>
</c-card>
</c-col>
</c-row>


